
/* hide title */
.otree-title {
        display: none;
        }

.otree-body {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.full-height {
    max-height: 100vh;
}

.post-text {
    font-size: clamp(16px, 1vw, 24px);
}
.banner-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Typography styles for the banner ad */
.banner-text {
    font-family: Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Add a subtle text shadow */
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 1.5s ease-in-out forwards; /* Add an animation for opacity with forwards fill mode */
    animation-delay: 1.5s
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    /* Media Query for smaller screens */
    @media (max-width: 600px) {
        .poster h4 {
            font-size: 1.2em; /* smaller font size for smaller screens */
            text-align: left; /* align text to the left */
        }
    }

    /* Media Query for dark mode preference */
    @media (prefers-color-scheme: dark) {
        .poster h4 {
            color: #ddd; /* Lighter color for better contrast in dark mode */
        }
    }

    /* Media Query for reduced motion preference */
    @media (prefers-reduced-motion: reduce) {
        .poster h4 {
            font-weight: normal; /* adjust font weight for reduced motion */
        }
    }

    /* Responsive font size based on viewport width */
    .poster h4 {
        font-size: 2vw; /* adjust font size based on viewport width */
    }

    .img-fit {
        object-fit: cover; /* Add this */
    }


/*tooltips*/
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-white);
  --bs-tooltip-opacity: 100
}

.img-post {
  max-height: 75vh;
  width: 100%;
  object-fit: cover;
}


/*iframes*/
.iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Custom styles for the carousel */
.carousel-item {
            height: 100vh; /* Full viewport height */
            display: none; /* Hide all items by default */
            align-items: center;
            justify-content: center;
            flex-direction: column; /* Stack items vertically */
        }
.carousel-item.active {
    display: flex; /* Only active item is displayed as flex */
}
.carousel-inner {
    width: 100%;
    height: 100vh; /* Match carousel height to viewport */
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    filter: invert(100%);
}